{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <div class="row mb-2">
        {% for article in articles %}
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">

                    {% if article.category == 'Event' %}
                        <strong class="d-inline-block mb-2 text-primary">Event</strong>
                    {% else %}
                        <strong class="d-inline-block mb-2 text-success">News</strong>
                    {% endif %}

                    <h3 class="mb-0">
                        <a class="text-dark text-decoration-none" href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted" style="font-size: 1em;">
                        <p style="font-size: 0.9rem; margin-bottom: 0;">
                            <i class="bi bi-calendar me-1"></i> 
                            {{ article.publicationDate ? article.publicationDate|date('d/m/Y') : '' }}
                            &middot;
                            <i class="bi bi-person"></i>
                        </p>
                    </div>
                    <p class="card-text mb-auto text-wrap" style="width: 23rem;">{{ article.shortdescription }}...</p>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">Continue reading</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_article_edit', {'id': article.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                    </div>
                        <div class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px; background: url('{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article_thumbnail') }}') no-repeat center;background-size: cover;">
                    </div>
                </div>
            </div>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-success" style="position: fixed;bottom: 60px;left: 20px;" href="{{ path('app_article_new') }}">
            <i class="bi bi-plus-square-fill me-1"></i> 
                Create new
        </a>
    {% endif %}
    {{ knp_pagination_render(articles) }}
{% endblock %}
