{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="mb-3">
        {{ article.title }}
        {% if is_granted("ROLE_ADMIN") %}
            <button class="btn btn-secondary py-1 px-2" onclick="displayActions()"><i class="bi bi-gear"></i></button>
        {% endif %}
    </h1>

    {% if is_granted("ROLE_ADMIN") %}
        <div id="actions" class="d-flex mb-3 visually-hidden" style="gap: 5px;">
            <div>
                <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-fill me-1"></i> edit</a>
            </div>
            <div>
                {{ include('article/_delete_form.html.twig') }}
            </div>
        </div>
    {% endif %}

    {% if vich_uploader_asset(article, 'imageFile') %}
        <img class="mb-2 img-fluid" src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article') }}">
    {% endif %}

    <p>
        {% if article.category == 'Event' %}
            <span class="badge text-bg-primary me-2">Event</span>
        {% else %}
            <span class="badge text-bg-success me-2">News</span>
        {% endif %}
        <i class="bi bi-calendar"></i> {{ article.publicationDate|date('d/m/Y') }}
        &middot;
        <i class="bi bi-person"></i>
        {{ article.user }}
    </p>
    <hr>

    <p class="fs-6">{{ article.description|raw }}</p>

    {% if article.updatedDate %}
        <span class="small fw-light fst-italic"> Last update : {{ article.updatedDate|date('d/m/Y') }}</span>
    {% endif %}
    <hr>

    <a class="btn btn-primary" href="{{ path('app_article_index') }}"><i class="bi bi-arrow-left-square-fill me-1"></i> back to list</a>

    <div>
        <div>
            <h2>Comments <span class="badge bg-secondary mt-5 mb-2">{{ article.comment|length }}</span></h2>

            {% for comment in article.comment %}
                {% if comment.parent == null %}

                    <div id="{{ comment.id }}">
                        <div class="card mb-2">
                            <div id="reply-close" class="card-header">
                                {{ comment.createdAt|date("d/m/Y H:i") }}
                                {% if is_granted("ROLE_ADMIN") %}
                                    {{ include('article/_delete_form_comment.html.twig') }}
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.user }}</h5>
                                <p class="card-text">{{ comment.content }}</p>
                                {% if app.user %}
                                    <div id="reply-button">
                                        <a class="btn btn-primary" href="#add-comment" data-reply data-id="{{ comment.id }}">Reply</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% for reply in comment.replies %}
                        <div class="card ms-5 mb-2">
                            <div class="card-header">
                                <i class="bi bi-reply"></i> {{ reply.createdAt|date("d/m/Y H:i") }}
                                {% if is_granted("ROLE_ADMIN") %}
                                    {{ include('article/_delete_form_comment.html.twig') }}
                                {% endif %}
                            </div>
                            <div class="card-body bg-light bg-gradient ps-3 pe-3 pt-2 pb-2">
                                <h5 class="card-title">{{ reply.user }}</h5>
                                <p class="card-text">{{ reply.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="pb-3"></div>

                {% endif %}
            {% endfor %}
        </div>
        {% if app.user %}
            <hr>
            <div id="add-comment">
                <h2 id="reply-title">Write a comment</h2>
                <div id="reply-section"></div>
                {{ form(commentForm) }}
            </div>
        {% endif %}
    </div>

    <script>
        // Event listener on every reply buttons
        document.querySelectorAll('[data-reply]').forEach(element => {
            element.addEventListener('click', function () {
                document.querySelector('#comment_parent_id').value = this.dataset.id;

                // Display selected comment in form
                let comment = document.getElementById(this.dataset.id).innerHTML;
                document.getElementById('reply-section').innerHTML = "<div id='reply'>"+comment+"</div>";

                // Hide reply button
                const parent = document.querySelector('#reply');
                parent.querySelector('#reply-button').innerHTML = '';

                // Change form title
                document.getElementById('reply-title').innerHTML = '<i class="bi bi-reply"></i> Reply';

                // Add close reply button
                parent.querySelector('#reply-close').innerHTML += '<button onclick="closeReply()" class="btn-close position-absolute end-0 me-2 top-0 mt-2" aria-label="Close"></button>';

                // Remove delete button
                parent.querySelector('#delete-comment').classList.add('visually-hidden');

                // Add ms-5 margin to form
                document.getElementById('comment').classList.add('ms-5');
            });
        });

        // Close reply
        function closeReply() {
            document.getElementById('reply').innerHTML = '';
            document.getElementById('reply-title').innerHTML = 'Write a comment';
            document.querySelector('#comment_parent_id').value = null;
            document.getElementById('comment').classList.remove('ms-5');
        }

        let isOpen = false;

        function displayActions() {
            let actions = document.getElementById('actions');

            if (isOpen) {
                actions.classList.add('visually-hidden');
                isOpen = false;
            } else {
                actions.classList.remove('visually-hidden');
                isOpen = true;
            }
        }
    </script>

{% endblock %}
