{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="mb-3">{{ article.title }}</h1>

    {% if vich_uploader_asset(article, 'imageFile') %}
        <img class="mb-2 img-fluid" src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article') }}">
    {% endif %}

    <p>
        <i class="bi bi-calendar"></i> {{ article.publicationDate|date('d/m/Y') }}
        &middot;
        <i class="bi bi-person"></i>
        {{ article.user }}
    </p>
    <hr>

    <p class="fs-6">{{ article.description|raw }}</p>

    {% if article.updatedDate %}
        <span class="small fw-light fst-italic"> Last update : {{ article.updatedDate|date('d/m/Y') }}</span>
    {% endif %}

    <hr>

    <a class="btn btn-primary" href="{{ path('app_article_index') }}"><i class="bi bi-arrow-left-square-fill me-1"></i> back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
