{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <h1>User list</h1>

    <table class="table" id="users-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
           
            <tr>
                <td>{{ user.id }}</td>
                <td id="user-{{ user.id }}-email">{{ user.email }}</td>
                <td id="user-{{ user.id }}-roles">
                <span class="badge text-bg-primary"> {{ user.roles[0] }} </span>
                </td>
                 <td>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#userEdit" data-id="{{ user.id }}">
                        Edit
                    </a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="userEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user : </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                {{ include('user/_form.html.twig') }}
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    
    <script>
        const userModalObject = new bootstrap.Modal(document.getElementById('userEdit'), {})
        const userModal = document.getElementById('userEdit')
        const formUserEdit = document.getElementsByName("user")[0];

        userModal.addEventListener('show.bs.modal', event => {

            const linkEdit = event.relatedTarget;
            const userId = linkEdit.getAttribute('data-id');
            const email = document.getElementById("user-"+userId+"-email").textContent;
            
            document.getElementById("user_email").setAttribute('value', email);
            formUserEdit.action = "users/edit/"+userId;
        })

        formUserEdit.addEventListener('submit', (event) => {
            event.preventDefault();
            console.log('submit');

            const email = document.getElementById("user_email").value;
            const role = document.getElementById("user_roles").value;

            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                    roles: role
                })
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                const userId = /[^/]*$/.exec(formUserEdit.action)[0];
                console.log(userId);

                refreshTable(userId, email, role);
                userModalObject.hide();
            }).catch((error) => {
               alert(error);
            });
        });

        function refreshTable(userId, email, role) {
            document.getElementById("user-"+userId+"-email").innerHTML = email;
            document.getElementById("user-"+userId+"-roles").innerHTML = "<span class='badge text-bg-primary'>"+role+"</span>";
        }

    </script>
{% endblock %}

