{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <h1>User list</h1>

    <table class="table" id="users-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Verification</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
           
            <tr>
                <td>{{ user.id }}</td>
                <td id="user-{{ user.id }}-email">{{ user.email }}</td>
                <td id="user-{{ user.id }}-roles" data-value="{{ user.roles[0] }}">
                    <span class="badge text-bg-primary"> {{ user.roles[0] }} </span>
                </td>
                <td id="user-{{ user.id }}-verified" data-value='{{ user.verified }}'>
                    {% if user.verified %}
                        <span class="badge text-bg-success"> Verified </span>
                    {% else %}
                        <span class="badge text-bg-danger"> Unverified </span>
                    {% endif %}
                </td>


                 <td>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#userEdit" data-id="{{ user.id }}">
                        Edit
                    </a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="userEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user : </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                {{ include('user/_form.html.twig') }}
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    
    <script>
        const userModalObject = new bootstrap.Modal(document.getElementById('userEdit'), {})
        const userModal = document.getElementById('userEdit')
        const formUserEdit = document.getElementsByName("user")[0];

        userModal.addEventListener('show.bs.modal', event => {

            const linkEdit = event.relatedTarget;
            const userId = linkEdit.getAttribute('data-id');
            const email = document.getElementById("user-"+userId+"-email").textContent;

            document.getElementById("user_email").setAttribute('value', email);
            formUserEdit.action = "users/edit/"+userId;

            const userRole = document.getElementById('user-'+userId+'-roles').getAttribute('data-value');
            let userRoleList = document.getElementById("user_roles");

            for (let i = 0; i < userRoleList.options.length; i++) {
                if (userRoleList.options[i].value == userRole) {
                    userRoleList.options[i].selected = true;//Set the third item to the current option, i.e. Option 2
                    console.log('IN');
                }
            }

            const isUserVerified = document.getElementById('user-'+userId+'-verified').getAttribute('data-value') == 1;
            document.getElementById("user_verified").checked = isUserVerified;
        })

        formUserEdit.addEventListener('submit', (event) => {
            event.preventDefault();
            console.log('submit');

            const email = document.getElementById("user_email").value;
            const role = document.getElementById("user_roles").value;
            const verified = document.getElementById("user_verified").checked;

            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                    roles: role,
                    verified: verified
                })
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                const userId = /[^/]*$/.exec(formUserEdit.action)[0];
                console.log(userId);

                refreshTable(userId, email, role, verified);
                userModalObject.hide();
            }).catch((error) => {
               alert(error);
            });
        });

        function refreshTable(userId, email, role, isUserVerified) {
            document.getElementById("user-"+userId+"-email").innerHTML = email;
            document.getElementById("user-"+userId+"-roles").innerHTML = "<span class='badge text-bg-primary'>"+role+"</span>";
            document.getElementById("user-"+userId+"-roles").setAttribute("data-value", role);

            if (isUserVerified) {
                document.getElementById("user-"+userId+"-verified").innerHTML = "<span class='badge text-bg-success'> Verified </span>";
            } else {
                document.getElementById("user-"+userId+"-verified").innerHTML = "<span class='badge text-bg-danger'> Unverified </span>";

            }
            document.getElementById("user-"+userId+"-verified").setAttribute("data-value", isUserVerified ? 1 : 0);

        }

    </script>
{% endblock %}

